.w-50px {
  width: 50px !important;
}
.w-49px {
  width: 49px !important;
}
.w-48px {
  width: 48px !important;
}
.w-47px {
  width: 47px !important;
}
.w-46px {
  width: 46px !important;
}
.w-45px {
  width: 45px !important;
}
.w-44px {
  width: 44px !important;
}
.w-43px {
  width: 43px !important;
}
.w-42px {
  width: 42px !important;
}
.w-41px {
  width: 41px !important;
}
.w-40px {
  width: 40px !important;
}
.w-39px {
  width: 39px !important;
}
.w-38px {
  width: 38px !important;
}
.w-37px {
  width: 37px !important;
}
.w-36px {
  width: 36px !important;
}
.w-35px {
  width: 35px !important;
}
.w-34px {
  width: 34px !important;
}
.w-33px {
  width: 33px !important;
}
.w-32px {
  width: 32px !important;
}
.w-31px {
  width: 31px !important;
}
.w-30px {
  width: 30px !important;
}
.w-29px {
  width: 29px !important;
}
.w-28px {
  width: 28px !important;
}
.w-27px {
  width: 27px !important;
}
.w-26px {
  width: 26px !important;
}
.w-25px {
  width: 25px !important;
}
.w-24px {
  width: 24px !important;
}
.w-23px {
  width: 23px !important;
}
.w-22px {
  width: 22px !important;
}
.w-21px {
  width: 21px !important;
}
.w-20px {
  width: 20px !important;
}
.w-19px {
  width: 19px !important;
}
.w-18px {
  width: 18px !important;
}
.w-17px {
  width: 17px !important;
}
.w-16px {
  width: 16px !important;
}
.w-15px {
  width: 15px !important;
}
.w-14px {
  width: 14px !important;
}
.w-13px {
  width: 13px !important;
}
.w-12px {
  width: 12px !important;
}
.w-11px {
  width: 11px !important;
}
.w-10px {
  width: 10px !important;
}
.w-9px {
  width: 9px !important;
}
.w-8px {
  width: 8px !important;
}
.w-7px {
  width: 7px !important;
}
.w-6px {
  width: 6px !important;
}
.w-5px {
  width: 5px !important;
}
.w-4px {
  width: 4px !important;
}
.w-3px {
  width: 3px !important;
}
.w-2px {
  width: 2px !important;
}
.w-1px {
  width: 1px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.ms-50 {
  margin-left: 50px !important;
}
.me-50 {
  margin-right: 50px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.ps-50 {
  padding-left: 50px !important;
}
.pe-50 {
  padding-right: 50px !important;
}
.mt-49 {
  margin-top: 49px !important;
}
.mb-49 {
  margin-bottom: 49px !important;
}
.ms-49 {
  margin-left: 49px !important;
}
.me-49 {
  margin-right: 49px !important;
}
.pt-49 {
  padding-top: 49px !important;
}
.pb-49 {
  padding-bottom: 49px !important;
}
.ps-49 {
  padding-left: 49px !important;
}
.pe-49 {
  padding-right: 49px !important;
}
.mt-48 {
  margin-top: 48px !important;
}
.mb-48 {
  margin-bottom: 48px !important;
}
.ms-48 {
  margin-left: 48px !important;
}
.me-48 {
  margin-right: 48px !important;
}
.pt-48 {
  padding-top: 48px !important;
}
.pb-48 {
  padding-bottom: 48px !important;
}
.ps-48 {
  padding-left: 48px !important;
}
.pe-48 {
  padding-right: 48px !important;
}
.mt-47 {
  margin-top: 47px !important;
}
.mb-47 {
  margin-bottom: 47px !important;
}
.ms-47 {
  margin-left: 47px !important;
}
.me-47 {
  margin-right: 47px !important;
}
.pt-47 {
  padding-top: 47px !important;
}
.pb-47 {
  padding-bottom: 47px !important;
}
.ps-47 {
  padding-left: 47px !important;
}
.pe-47 {
  padding-right: 47px !important;
}
.mt-46 {
  margin-top: 46px !important;
}
.mb-46 {
  margin-bottom: 46px !important;
}
.ms-46 {
  margin-left: 46px !important;
}
.me-46 {
  margin-right: 46px !important;
}
.pt-46 {
  padding-top: 46px !important;
}
.pb-46 {
  padding-bottom: 46px !important;
}
.ps-46 {
  padding-left: 46px !important;
}
.pe-46 {
  padding-right: 46px !important;
}
.mt-45 {
  margin-top: 45px !important;
}
.mb-45 {
  margin-bottom: 45px !important;
}
.ms-45 {
  margin-left: 45px !important;
}
.me-45 {
  margin-right: 45px !important;
}
.pt-45 {
  padding-top: 45px !important;
}
.pb-45 {
  padding-bottom: 45px !important;
}
.ps-45 {
  padding-left: 45px !important;
}
.pe-45 {
  padding-right: 45px !important;
}
.mt-44 {
  margin-top: 44px !important;
}
.mb-44 {
  margin-bottom: 44px !important;
}
.ms-44 {
  margin-left: 44px !important;
}
.me-44 {
  margin-right: 44px !important;
}
.pt-44 {
  padding-top: 44px !important;
}
.pb-44 {
  padding-bottom: 44px !important;
}
.ps-44 {
  padding-left: 44px !important;
}
.pe-44 {
  padding-right: 44px !important;
}
.mt-43 {
  margin-top: 43px !important;
}
.mb-43 {
  margin-bottom: 43px !important;
}
.ms-43 {
  margin-left: 43px !important;
}
.me-43 {
  margin-right: 43px !important;
}
.pt-43 {
  padding-top: 43px !important;
}
.pb-43 {
  padding-bottom: 43px !important;
}
.ps-43 {
  padding-left: 43px !important;
}
.pe-43 {
  padding-right: 43px !important;
}
.mt-42 {
  margin-top: 42px !important;
}
.mb-42 {
  margin-bottom: 42px !important;
}
.ms-42 {
  margin-left: 42px !important;
}
.me-42 {
  margin-right: 42px !important;
}
.pt-42 {
  padding-top: 42px !important;
}
.pb-42 {
  padding-bottom: 42px !important;
}
.ps-42 {
  padding-left: 42px !important;
}
.pe-42 {
  padding-right: 42px !important;
}
.mt-41 {
  margin-top: 41px !important;
}
.mb-41 {
  margin-bottom: 41px !important;
}
.ms-41 {
  margin-left: 41px !important;
}
.me-41 {
  margin-right: 41px !important;
}
.pt-41 {
  padding-top: 41px !important;
}
.pb-41 {
  padding-bottom: 41px !important;
}
.ps-41 {
  padding-left: 41px !important;
}
.pe-41 {
  padding-right: 41px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.ms-40 {
  margin-left: 40px !important;
}
.me-40 {
  margin-right: 40px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
.ps-40 {
  padding-left: 40px !important;
}
.pe-40 {
  padding-right: 40px !important;
}
.mt-39 {
  margin-top: 39px !important;
}
.mb-39 {
  margin-bottom: 39px !important;
}
.ms-39 {
  margin-left: 39px !important;
}
.me-39 {
  margin-right: 39px !important;
}
.pt-39 {
  padding-top: 39px !important;
}
.pb-39 {
  padding-bottom: 39px !important;
}
.ps-39 {
  padding-left: 39px !important;
}
.pe-39 {
  padding-right: 39px !important;
}
.mt-38 {
  margin-top: 38px !important;
}
.mb-38 {
  margin-bottom: 38px !important;
}
.ms-38 {
  margin-left: 38px !important;
}
.me-38 {
  margin-right: 38px !important;
}
.pt-38 {
  padding-top: 38px !important;
}
.pb-38 {
  padding-bottom: 38px !important;
}
.ps-38 {
  padding-left: 38px !important;
}
.pe-38 {
  padding-right: 38px !important;
}
.mt-37 {
  margin-top: 37px !important;
}
.mb-37 {
  margin-bottom: 37px !important;
}
.ms-37 {
  margin-left: 37px !important;
}
.me-37 {
  margin-right: 37px !important;
}
.pt-37 {
  padding-top: 37px !important;
}
.pb-37 {
  padding-bottom: 37px !important;
}
.ps-37 {
  padding-left: 37px !important;
}
.pe-37 {
  padding-right: 37px !important;
}
.mt-36 {
  margin-top: 36px !important;
}
.mb-36 {
  margin-bottom: 36px !important;
}
.ms-36 {
  margin-left: 36px !important;
}
.me-36 {
  margin-right: 36px !important;
}
.pt-36 {
  padding-top: 36px !important;
}
.pb-36 {
  padding-bottom: 36px !important;
}
.ps-36 {
  padding-left: 36px !important;
}
.pe-36 {
  padding-right: 36px !important;
}
.mt-35 {
  margin-top: 35px !important;
}
.mb-35 {
  margin-bottom: 35px !important;
}
.ms-35 {
  margin-left: 35px !important;
}
.me-35 {
  margin-right: 35px !important;
}
.pt-35 {
  padding-top: 35px !important;
}
.pb-35 {
  padding-bottom: 35px !important;
}
.ps-35 {
  padding-left: 35px !important;
}
.pe-35 {
  padding-right: 35px !important;
}
.mt-34 {
  margin-top: 34px !important;
}
.mb-34 {
  margin-bottom: 34px !important;
}
.ms-34 {
  margin-left: 34px !important;
}
.me-34 {
  margin-right: 34px !important;
}
.pt-34 {
  padding-top: 34px !important;
}
.pb-34 {
  padding-bottom: 34px !important;
}
.ps-34 {
  padding-left: 34px !important;
}
.pe-34 {
  padding-right: 34px !important;
}
.mt-33 {
  margin-top: 33px !important;
}
.mb-33 {
  margin-bottom: 33px !important;
}
.ms-33 {
  margin-left: 33px !important;
}
.me-33 {
  margin-right: 33px !important;
}
.pt-33 {
  padding-top: 33px !important;
}
.pb-33 {
  padding-bottom: 33px !important;
}
.ps-33 {
  padding-left: 33px !important;
}
.pe-33 {
  padding-right: 33px !important;
}
.mt-32 {
  margin-top: 32px !important;
}
.mb-32 {
  margin-bottom: 32px !important;
}
.ms-32 {
  margin-left: 32px !important;
}
.me-32 {
  margin-right: 32px !important;
}
.pt-32 {
  padding-top: 32px !important;
}
.pb-32 {
  padding-bottom: 32px !important;
}
.ps-32 {
  padding-left: 32px !important;
}
.pe-32 {
  padding-right: 32px !important;
}
.mt-31 {
  margin-top: 31px !important;
}
.mb-31 {
  margin-bottom: 31px !important;
}
.ms-31 {
  margin-left: 31px !important;
}
.me-31 {
  margin-right: 31px !important;
}
.pt-31 {
  padding-top: 31px !important;
}
.pb-31 {
  padding-bottom: 31px !important;
}
.ps-31 {
  padding-left: 31px !important;
}
.pe-31 {
  padding-right: 31px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.ms-30 {
  margin-left: 30px !important;
}
.me-30 {
  margin-right: 30px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.ps-30 {
  padding-left: 30px !important;
}
.pe-30 {
  padding-right: 30px !important;
}
.mt-29 {
  margin-top: 29px !important;
}
.mb-29 {
  margin-bottom: 29px !important;
}
.ms-29 {
  margin-left: 29px !important;
}
.me-29 {
  margin-right: 29px !important;
}
.pt-29 {
  padding-top: 29px !important;
}
.pb-29 {
  padding-bottom: 29px !important;
}
.ps-29 {
  padding-left: 29px !important;
}
.pe-29 {
  padding-right: 29px !important;
}
.mt-28 {
  margin-top: 28px !important;
}
.mb-28 {
  margin-bottom: 28px !important;
}
.ms-28 {
  margin-left: 28px !important;
}
.me-28 {
  margin-right: 28px !important;
}
.pt-28 {
  padding-top: 28px !important;
}
.pb-28 {
  padding-bottom: 28px !important;
}
.ps-28 {
  padding-left: 28px !important;
}
.pe-28 {
  padding-right: 28px !important;
}
.mt-27 {
  margin-top: 27px !important;
}
.mb-27 {
  margin-bottom: 27px !important;
}
.ms-27 {
  margin-left: 27px !important;
}
.me-27 {
  margin-right: 27px !important;
}
.pt-27 {
  padding-top: 27px !important;
}
.pb-27 {
  padding-bottom: 27px !important;
}
.ps-27 {
  padding-left: 27px !important;
}
.pe-27 {
  padding-right: 27px !important;
}
.mt-26 {
  margin-top: 26px !important;
}
.mb-26 {
  margin-bottom: 26px !important;
}
.ms-26 {
  margin-left: 26px !important;
}
.me-26 {
  margin-right: 26px !important;
}
.pt-26 {
  padding-top: 26px !important;
}
.pb-26 {
  padding-bottom: 26px !important;
}
.ps-26 {
  padding-left: 26px !important;
}
.pe-26 {
  padding-right: 26px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.ms-25 {
  margin-left: 25px !important;
}
.me-25 {
  margin-right: 25px !important;
}
.pt-25 {
  padding-top: 25px !important;
}
.pb-25 {
  padding-bottom: 25px !important;
}
.ps-25 {
  padding-left: 25px !important;
}
.pe-25 {
  padding-right: 25px !important;
}
.mt-24 {
  margin-top: 24px !important;
}
.mb-24 {
  margin-bottom: 24px !important;
}
.ms-24 {
  margin-left: 24px !important;
}
.me-24 {
  margin-right: 24px !important;
}
.pt-24 {
  padding-top: 24px !important;
}
.pb-24 {
  padding-bottom: 24px !important;
}
.ps-24 {
  padding-left: 24px !important;
}
.pe-24 {
  padding-right: 24px !important;
}
.mt-23 {
  margin-top: 23px !important;
}
.mb-23 {
  margin-bottom: 23px !important;
}
.ms-23 {
  margin-left: 23px !important;
}
.me-23 {
  margin-right: 23px !important;
}
.pt-23 {
  padding-top: 23px !important;
}
.pb-23 {
  padding-bottom: 23px !important;
}
.ps-23 {
  padding-left: 23px !important;
}
.pe-23 {
  padding-right: 23px !important;
}
.mt-22 {
  margin-top: 22px !important;
}
.mb-22 {
  margin-bottom: 22px !important;
}
.ms-22 {
  margin-left: 22px !important;
}
.me-22 {
  margin-right: 22px !important;
}
.pt-22 {
  padding-top: 22px !important;
}
.pb-22 {
  padding-bottom: 22px !important;
}
.ps-22 {
  padding-left: 22px !important;
}
.pe-22 {
  padding-right: 22px !important;
}
.mt-21 {
  margin-top: 21px !important;
}
.mb-21 {
  margin-bottom: 21px !important;
}
.ms-21 {
  margin-left: 21px !important;
}
.me-21 {
  margin-right: 21px !important;
}
.pt-21 {
  padding-top: 21px !important;
}
.pb-21 {
  padding-bottom: 21px !important;
}
.ps-21 {
  padding-left: 21px !important;
}
.pe-21 {
  padding-right: 21px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.ms-20 {
  margin-left: 20px !important;
}
.me-20 {
  margin-right: 20px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.ps-20 {
  padding-left: 20px !important;
}
.pe-20 {
  padding-right: 20px !important;
}
.mt-19 {
  margin-top: 19px !important;
}
.mb-19 {
  margin-bottom: 19px !important;
}
.ms-19 {
  margin-left: 19px !important;
}
.me-19 {
  margin-right: 19px !important;
}
.pt-19 {
  padding-top: 19px !important;
}
.pb-19 {
  padding-bottom: 19px !important;
}
.ps-19 {
  padding-left: 19px !important;
}
.pe-19 {
  padding-right: 19px !important;
}
.mt-18 {
  margin-top: 18px !important;
}
.mb-18 {
  margin-bottom: 18px !important;
}
.ms-18 {
  margin-left: 18px !important;
}
.me-18 {
  margin-right: 18px !important;
}
.pt-18 {
  padding-top: 18px !important;
}
.pb-18 {
  padding-bottom: 18px !important;
}
.ps-18 {
  padding-left: 18px !important;
}
.pe-18 {
  padding-right: 18px !important;
}
.mt-17 {
  margin-top: 17px !important;
}
.mb-17 {
  margin-bottom: 17px !important;
}
.ms-17 {
  margin-left: 17px !important;
}
.me-17 {
  margin-right: 17px !important;
}
.pt-17 {
  padding-top: 17px !important;
}
.pb-17 {
  padding-bottom: 17px !important;
}
.ps-17 {
  padding-left: 17px !important;
}
.pe-17 {
  padding-right: 17px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mb-16 {
  margin-bottom: 16px !important;
}
.ms-16 {
  margin-left: 16px !important;
}
.me-16 {
  margin-right: 16px !important;
}
.pt-16 {
  padding-top: 16px !important;
}
.pb-16 {
  padding-bottom: 16px !important;
}
.ps-16 {
  padding-left: 16px !important;
}
.pe-16 {
  padding-right: 16px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.ms-15 {
  margin-left: 15px !important;
}
.me-15 {
  margin-right: 15px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.ps-15 {
  padding-left: 15px !important;
}
.pe-15 {
  padding-right: 15px !important;
}
.mt-14 {
  margin-top: 14px !important;
}
.mb-14 {
  margin-bottom: 14px !important;
}
.ms-14 {
  margin-left: 14px !important;
}
.me-14 {
  margin-right: 14px !important;
}
.pt-14 {
  padding-top: 14px !important;
}
.pb-14 {
  padding-bottom: 14px !important;
}
.ps-14 {
  padding-left: 14px !important;
}
.pe-14 {
  padding-right: 14px !important;
}
.mt-13 {
  margin-top: 13px !important;
}
.mb-13 {
  margin-bottom: 13px !important;
}
.ms-13 {
  margin-left: 13px !important;
}
.me-13 {
  margin-right: 13px !important;
}
.pt-13 {
  padding-top: 13px !important;
}
.pb-13 {
  padding-bottom: 13px !important;
}
.ps-13 {
  padding-left: 13px !important;
}
.pe-13 {
  padding-right: 13px !important;
}
.mt-12 {
  margin-top: 12px !important;
}
.mb-12 {
  margin-bottom: 12px !important;
}
.ms-12 {
  margin-left: 12px !important;
}
.me-12 {
  margin-right: 12px !important;
}
.pt-12 {
  padding-top: 12px !important;
}
.pb-12 {
  padding-bottom: 12px !important;
}
.ps-12 {
  padding-left: 12px !important;
}
.pe-12 {
  padding-right: 12px !important;
}
.mt-11 {
  margin-top: 11px !important;
}
.mb-11 {
  margin-bottom: 11px !important;
}
.ms-11 {
  margin-left: 11px !important;
}
.me-11 {
  margin-right: 11px !important;
}
.pt-11 {
  padding-top: 11px !important;
}
.pb-11 {
  padding-bottom: 11px !important;
}
.ps-11 {
  padding-left: 11px !important;
}
.pe-11 {
  padding-right: 11px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.ms-10 {
  margin-left: 10px !important;
}
.me-10 {
  margin-right: 10px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.ps-10 {
  padding-left: 10px !important;
}
.pe-10 {
  padding-right: 10px !important;
}
.mt-9 {
  margin-top: 9px !important;
}
.mb-9 {
  margin-bottom: 9px !important;
}
.ms-9 {
  margin-left: 9px !important;
}
.me-9 {
  margin-right: 9px !important;
}
.pt-9 {
  padding-top: 9px !important;
}
.pb-9 {
  padding-bottom: 9px !important;
}
.ps-9 {
  padding-left: 9px !important;
}
.pe-9 {
  padding-right: 9px !important;
}
.mt-8 {
  margin-top: 8px !important;
}
.mb-8 {
  margin-bottom: 8px !important;
}
.ms-8 {
  margin-left: 8px !important;
}
.me-8 {
  margin-right: 8px !important;
}
.pt-8 {
  padding-top: 8px !important;
}
.pb-8 {
  padding-bottom: 8px !important;
}
.ps-8 {
  padding-left: 8px !important;
}
.pe-8 {
  padding-right: 8px !important;
}
.mt-7 {
  margin-top: 7px !important;
}
.mb-7 {
  margin-bottom: 7px !important;
}
.ms-7 {
  margin-left: 7px !important;
}
.me-7 {
  margin-right: 7px !important;
}
.pt-7 {
  padding-top: 7px !important;
}
.pb-7 {
  padding-bottom: 7px !important;
}
.ps-7 {
  padding-left: 7px !important;
}
.pe-7 {
  padding-right: 7px !important;
}
.mt-6 {
  margin-top: 6px !important;
}
.mb-6 {
  margin-bottom: 6px !important;
}
.ms-6 {
  margin-left: 6px !important;
}
.me-6 {
  margin-right: 6px !important;
}
.pt-6 {
  padding-top: 6px !important;
}
.pb-6 {
  padding-bottom: 6px !important;
}
.ps-6 {
  padding-left: 6px !important;
}
.pe-6 {
  padding-right: 6px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.ms-5 {
  margin-left: 5px !important;
}
.me-5 {
  margin-right: 5px !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.ps-5 {
  padding-left: 5px !important;
}
.pe-5 {
  padding-right: 5px !important;
}
.mt-4 {
  margin-top: 4px !important;
}
.mb-4 {
  margin-bottom: 4px !important;
}
.ms-4 {
  margin-left: 4px !important;
}
.me-4 {
  margin-right: 4px !important;
}
.pt-4 {
  padding-top: 4px !important;
}
.pb-4 {
  padding-bottom: 4px !important;
}
.ps-4 {
  padding-left: 4px !important;
}
.pe-4 {
  padding-right: 4px !important;
}
.mt-3 {
  margin-top: 3px !important;
}
.mb-3 {
  margin-bottom: 3px !important;
}
.ms-3 {
  margin-left: 3px !important;
}
.me-3 {
  margin-right: 3px !important;
}
.pt-3 {
  padding-top: 3px !important;
}
.pb-3 {
  padding-bottom: 3px !important;
}
.ps-3 {
  padding-left: 3px !important;
}
.pe-3 {
  padding-right: 3px !important;
}
.mt-2 {
  margin-top: 2px !important;
}
.mb-2 {
  margin-bottom: 2px !important;
}
.ms-2 {
  margin-left: 2px !important;
}
.me-2 {
  margin-right: 2px !important;
}
.pt-2 {
  padding-top: 2px !important;
}
.pb-2 {
  padding-bottom: 2px !important;
}
.ps-2 {
  padding-left: 2px !important;
}
.pe-2 {
  padding-right: 2px !important;
}
.mt-1 {
  margin-top: 1px !important;
}
.mb-1 {
  margin-bottom: 1px !important;
}
.ms-1 {
  margin-left: 1px !important;
}
.me-1 {
  margin-right: 1px !important;
}
.pt-1 {
  padding-top: 1px !important;
}
.pb-1 {
  padding-bottom: 1px !important;
}
.ps-1 {
  padding-left: 1px !important;
}
.pe-1 {
  padding-right: 1px !important;
}
.text-end {
  text-align: right !important;
}
.button-color-green {
  color: #4CAF50;
  font-size: 25px;
  cursor: pointer;
}
.button-color-green:hover {
  border-color: #4CAF50;
  color: #4CAF50;
}
.button-color-green-out {
  color: #4CAF50;
  border-color: #4CAF50;
  font-size: 25px;
  cursor: pointer;
}
.button-color-green-out.active,
.button-color-green-out:hover {
  color: #fff !important;
  background-color: #4CAF50 !important;
  border-color: #4CAF50 !important;
}
.my-bg-green {
  background-color: #4CAF50;
}
.text-color-green {
  color: #4CAF50;
}
.button-color-red {
  color: #f44336;
  font-size: 25px;
  cursor: pointer;
}
.button-color-red:hover {
  border-color: #f44336;
  color: #f44336;
}
.button-color-red-out {
  color: #f44336;
  border-color: #f44336;
  font-size: 25px;
  cursor: pointer;
}
.button-color-red-out.active,
.button-color-red-out:hover {
  color: #fff !important;
  background-color: #f44336 !important;
  border-color: #f44336 !important;
}
.my-bg-red {
  background-color: #f44336;
}
.text-color-red {
  color: #f44336;
}
.button-color-orange {
  color: #ff7700;
  font-size: 25px;
  cursor: pointer;
}
.button-color-orange:hover {
  border-color: #ff7700;
  color: #ff7700;
}
.button-color-orange-out {
  color: #ff7700;
  border-color: #ff7700;
  font-size: 25px;
  cursor: pointer;
}
.button-color-orange-out.active,
.button-color-orange-out:hover {
  color: #fff !important;
  background-color: #ff7700 !important;
  border-color: #ff7700 !important;
}
.my-bg-orange {
  background-color: #ff7700;
}
.text-color-orange {
  color: #ff7700;
}
.button-color-black {
  color: #000;
  font-size: 25px;
  cursor: pointer;
}
.button-color-black:hover {
  border-color: #000;
  color: #000;
}
.button-color-black-out {
  color: #000;
  border-color: #000;
  font-size: 25px;
  cursor: pointer;
}
.button-color-black-out.active,
.button-color-black-out:hover {
  color: #fff !important;
  background-color: #000 !important;
  border-color: #000 !important;
}
.my-bg-black {
  background-color: #000;
}
.text-color-black {
  color: #000;
}
.button-color-blue {
  color: #00AFF0;
  font-size: 25px;
  cursor: pointer;
}
.button-color-blue:hover {
  border-color: #00AFF0;
  color: #00AFF0;
}
.button-color-blue-out {
  color: #00AFF0;
  border-color: #00AFF0;
  font-size: 25px;
  cursor: pointer;
}
.button-color-blue-out.active,
.button-color-blue-out:hover {
  color: #fff !important;
  background-color: #00AFF0 !important;
  border-color: #00AFF0 !important;
}
.my-bg-blue {
  background-color: #00AFF0;
}
.text-color-blue {
  color: #00AFF0;
}
.button-color-white {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.button-color-white:hover {
  border-color: #fff;
  color: #fff;
}
.button-color-white-out {
  color: #fff;
  border-color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.button-color-white-out.active,
.button-color-white-out:hover {
  color: #fff !important;
  background-color: #fff !important;
  border-color: #fff !important;
}
.my-bg-white {
  background-color: #fff;
}
.text-color-white {
  color: #fff;
}
.btn-outline-info {
  color: #00AFF0;
  border-color: #00AFF0 !important;
}
.btn-outline-info:hover {
  color: #fff;
  background-color: #00AFF0;
  border-color: #00AFF0;
}
.w-20px {
  width: 20px !important;
}
.h-100vh {
  height: 100vh !important;
}
.game-img {
  width: 100px;
  height: 250px;
}
.no-a-style {
  all: unset;
}
.btn-outline-primary {
  color: #00AFF0;
  border-color: #00AFF0;
}
.btn-outline-primary-selected-flag {
  color: #00AFF0;
  border-color: #00AFF0;
  background-color: #00AFF0 !important;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #00AFF0;
  border-color: #00AFF0;
}
.btn-primary {
  color: #fff;
  background-color: #00AFF0;
  border-color: #00AFF0;
}
.alert-my {
  padding: 20px;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  z-index: 10;
  width: 80% !important;
  position: fixed;
  top: 10%;
}
.alert-my.success {
  background-color: #4CAF50;
}
.alert-my.warning {
  background-color: #f44336;
}
#drop-region {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.05);
  padding: 60px 40px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
#drop-region:hover {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
}
#image-preview {
  margin-top: 20px;
}
#image-preview .image-view {
  display: inline-block;
  position: relative;
  margin-right: 13px;
  margin-bottom: 13px;
}
#image-preview .image-view img {
  max-width: 100px;
  max-height: 100px;
}
#image-preview .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
}
.sticky-head {
  position: sticky;
  top: 0;
  z-index: 100;
}
.news-single-image {
  width: 100%;
  height: 65vh;
}
.news-video {
  width: 100%;
  height: 65vh;
}
.tree ul,
.tree #myUL {
  list-style-type: none;
}
.tree #myUL {
  margin: 0;
  padding: 0;
}
.tree .caret {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}
.tree .caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}
.tree .caret-down::before {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari */
  transform: rotate(90deg);
}
.tree .nested {
  display: none;
}
.tree .active {
  display: block;
}
.mt-a {
  margin-top: auto;
}
.ml-a {
  margin-left: auto;
}
.mb-a {
  margin-bottom: auto;
}
.mr-a {
  margin-right: auto;
}
.no-pointer {
  cursor: pointer;
  pointer-events: none;
}
.clickable {
  transition: all 0.4s;
  border-radius: 3px;
}
.clickable::before {
  content: "[";
}
.clickable::after {
  content: "]";
}
.clickable:hover {
  cursor: pointer;
  background-color: lightgray;
}
/*# sourceMappingURL=my.css.map */